In [8]:
import pandas as pd
df = pd.read_csv('natacao.csv');

1- variaveis estaticas sao=
sede: Categorico,ano:continuas,Distancia:continuas,estilo:Categorico,revesamento:continuas,genero:categorico,equipe:Categorica,atleta:categorico,tempo:continuas,POsicao:ordinais.

2- ano - se eu quero saber a posicao que mais os participantes ficaram colocados seria "moda".

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sede          4359 non-null   object
 1   Ano           4359 non-null   int64
 2   Distancia     4359 non-null   object
 3   Estilo        4359 non-null   object
 4   Revesamento?  4359 non-null   int64
 5   Genero        4359 non-null   object
 6   Equipe        4359 non-null   object
 7   Atleta        4345 non-null   object
 8   Tempo         4331 non-null   object
 9   Posicao       4359 non-null   int64
dtypes: int64(3), object(7)
memory usage: 340.7+ KB

In [19]:
df.mean()

<ipython-input-19-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Ano             1982.936453
Revesamento?       0.169764
Posicao            3.164946
dtype: float64

In [22]:
df.head(5000)

,Sede,Ano,Distancia,Estilo,Revesamento?,Genero,Equipe,Atleta,Tempo,Posicao
0,Tokyo,2020,100m,Costas,0,Masculino,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100m,Costas,0,Masculino,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100m,Costas,0,Masculino,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100m,Costas,0,Masculino,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100m,Costas,0,Masculino,CHN,Jiayu Xu,52.51,4
...,...,...,...,...,...,...,...,...,...,...
4354,Stockholm,1912,4x100,Livre,1,Feminino,SWE,"Greta Carlsson, Vera Thulin, Sonja Johnsson, G...",NaN,5
4355,Stockholm,1912,4x200,Livre,1,Masculino,AUS,"Malcolm Champion, Cecil Healy, Harold H. Hardw...",00:10:11.200000,1
4356,Stockholm,1912,4x200,Livre,1,Masculino,USA,"Duke Paoa Kahanamoku, Harry J. Hebner, Perry M...",00:10:20.200000,2
4357,Stockholm,1912,4x200,Livre,1,Masculino,GBR,"Thomas Sidney Battersby, Henry Taylor, John Ga...",00:10:28.600000,3
4358,Stockholm,1912,4x200,Livre,1,Masculino,GER,"Georg Kunisch, Kurt Bretting, Oscar Schiele, M...",00:10:37.000000,4

In [10]:
df.mean()

<ipython-input-10-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Ano             1982.936453
Revesamento?       0.169764
Posicao            3.164946
dtype: float64

In [ ]:
df.c

In [20]:
df['Genero']=='Masculino'

0        True
1        True
2        True
3        True
4        True
        ...
4354    False
4355     True
4356     True
4357     True
4358     True
Name: Genero, Length: 4359, dtype: bool

In [24]:
atletaMasculino =df.loc[df['Genero']== 'Masculino']
atletaMasculino.value_counts('Atleta')

Atleta
Michael Phelps                                                                         18
Laszlo Cseh                                                                            10
Ryan Lochte                                                                             9
Pieter Van Den Hoogenband                                                               8
Grant Hackett                                                                           8
                                                                                       ..
Igor Grivennikov, Viktor Mazanov, Vladimir Bure, Aleksandr Samsonov, Viktor Aboimov     1
Igor Chervynskiy                                                                        1
Igor Cherdakov                                                                          1
Ian Wilson                                                                              1
Émile Thienpondt                                                                        1
Length: 1504, dtype: int64

3- michael Phelps, 18 vezes ele participou

In [25]:
atletaFeminino = df.loc[df['Genero']== 'Feminino']
atletaFeminino.value_counts('Atleta')

Atleta
Kirsty Leigh Coventry                                                               10
Katie Ledecky                                                                        9
Susan O'Neill                                                                        8
Conny Van Bentum                                                                     8
Shirley Farber Babashoff                                                             7
                                                                                    ..
Jenny Wylie                                                                          1
Jess Lloyd, Rebecca Turner, Amy Smith, Caitlin Mcclatchey, Francesca Halsall         1
Jessica Ashwood, Bronte Barratt, Emma Mckeon, Tamsin Cook, Leah Neale                1
Jessica Deglau                                                                       1
Zsuzsanna Jakabos, Evelin Verraszto, Ajna Kesely, Boglarka Kapas, Katinka Hosszu     1
Length: 1317, dtype: int64

4-kirsty participou 10 vzs.

In [31]:
posicao3=df.loc[df['Posicao']==3]
posicao3.value_counts('Equipe')

Equipe
USA              138
AUS               70
GER               40
JPN               31
GBR               30
CAN               28
GDR               21
URS               19
HUN               19
SWE               17
NED               16
FRA               16
ITA               14
CHN               12
RUS               10
BRA                9
NLD                7
FRG                7
RSA                6
SUN                6
DEN                6
ESP                4
ROU                4
NZL                3
FIN                3
PHI                2
SUI                2
ZAF                2
POL                2
ANZ                2
UKR                2
CRC                2
Unified Team       1
TTO                1
VEN                1
TUN                1
SUR                1
MEX                1
ROC                1
NOR                1
ARG                1
IRL                1
CUB                1
BUL                1
BLR                1
BEL                1
AUT                1
ZIM                1
dtype: int64

5-usa

In [33]:
df['Distancia'].str.replace('m','')
df.value_counts('Distancia')

0         100
1         100
2         100
3         100
4         100
        ...
4354    4x100
4355    4x200
4356    4x200
4357    4x200
4358    4x200
Name: Distancia, Length: 4359, dtype: object

In [40]:
#df['Distancia']=df['Distancia'].str.replace('m','')
#df['Distancia']=df['Distancia'].str.replace('4x100','400')
#df['Distancia']=df['Distancia'].str.replace('4x200','800')
#df['Distancia']= df['Distancia'].astype('int64')
df['Distancia'].mean()

328.722183987153

6- 328.7 esqueci a pergunta mas e esse o resultado

In [42]:
df['CategoriaDistancia']=''

In [43]:
df.loc[df['Distancia']<=200,'CategoriaDistancia']= 'curta'

In [44]:
df.loc[df['Distancia'].between(201,600),'CategoriaDistancia']= 'media'

In [45]:
df.loc[df['Distancia']>=601,'CategoriaDistancia']='longa'

In [46]:
df

,Sede,Ano,Distancia,Estilo,Revesamento?,Genero,Equipe,Atleta,Tempo,Posicao,CategoriaDistancia
0,Tokyo,2020,100,Costas,0,Masculino,ROC,Evgeny Rylov,51.98,1,curta
1,Tokyo,2020,100,Costas,0,Masculino,ROC,Kliment Kolesnikov,52,2,curta
2,Tokyo,2020,100,Costas,0,Masculino,USA,Ryan Murphy,52.19,3,curta
3,Tokyo,2020,100,Costas,0,Masculino,ITA,Thomas Ceccon,52.3,4,curta
4,Tokyo,2020,100,Costas,0,Masculino,CHN,Jiayu Xu,52.51,4,curta
...,...,...,...,...,...,...,...,...,...,...,...
4354,Stockholm,1912,400,Livre,1,Feminino,SWE,"Greta Carlsson, Vera Thulin, Sonja Johnsson, G...",NaN,5,media
4355,Stockholm,1912,800,Livre,1,Masculino,AUS,"Malcolm Champion, Cecil Healy, Harold H. Hardw...",00:10:11.200000,1,longa
4356,Stockholm,1912,800,Livre,1,Masculino,USA,"Duke Paoa Kahanamoku, Harry J. Hebner, Perry M...",00:10:20.200000,2,longa
4357,Stockholm,1912,800,Livre,1,Masculino,GBR,"Thomas Sidney Battersby, Henry Taylor, John Ga...",00:10:28.600000,3,longa
4358,Stockholm,1912,800,Livre,1,Masculino,GER,"Georg Kunisch, Kurt Bretting, Oscar Schiele, M...",00:10:37.000000,4,longa

7 e' saporr ae